body{

	background:url('../images/bg.jpg');
	font-family: 'Raleway', sans-serif;;
	color:#fff;
	text-align:center;
}
h1{

	font-size:30px;
	font-weight:500;
	margin-top:3%;
}

h2{

	font-size:15px;
	margin-top:0px;
	font-weight:400;
	color:#a6a6a6;
}

.container{

	margin: auto;
}

.canvas{

	border:10px solid #fff;
	width:80%;
	height:auto;
	margin:3% auto;
	background:rgba(255,255,255,0.4);
	position: relative;
}

.canvas div{

	display: none;
}

.canvas div:target{

	display:block;
}
.strip{

	background:rgba(255,255,255,0.5);
	width:81%;
	margin:auto;
}

.thumb{

	width:10%;
	margin:10px;
}
.responsive{

	width:100%;
	z-index: 100;
}
.credits{
	font-size:14px;
	margin:50px;
}
.credits a{
	color:#b6b6b6;
}